#canvas{
	border:1px black solid;	
}	
#page{
	display:table;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	
}
#page-container{
	width:100%;
}

#page-title{
	display:inline-block;
}
#page-score{
	display:inline-block;
	float:right;
	
	height:50px;
	line-height:50px;
}
